@import "../../common/constants/index.scss";

.headers {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 24px;

  @include for-size("desktop-up") {
    justify-content: flex-start;
    align-items: flex-start;
  }
  &-title {
    font-weight: $font-weight-700;
    font-size: $font-size-40;
    line-height: $line-height-48;
    text-align: center;
    color: $charcoal;

    @include for-size("tablet-portrait-up") {
      font-size: 40px;
      text-align: start;
    }
    @include for-size("desktop-up") {
      font-size: 56px;
      line-height: 64px;
      max-width: 550px;
    }
  }
  &-subtitle {
    font-weight: $font-weight-400;
    font-size: $font-size-16;
    line-height: $line-height-26;
    text-align: center;
    color: $rhythm;
    @include for-size("tablet-portrait-up") {
      text-align: start;
    }
    @include for-size("desktop-up") {
      font-size: 18px;
      line-height: 28px;
      text-align: justify;
      max-width: 550px;
    }
  }
}
