@import "../../common/constants/index.scss";

.home {
  &-top {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 64px;
    padding: 0 24px;
    min-height: 1684px;
    &-left {
      &-img {
        width: 171px;
        height: 192px;
      }
    }

  }

  &-middle {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    flex-direction: column;
    top: 900px;
    left: 0;
    right: 0;
    margin: auto;

    @include for-size("lumia") {
      top: 1000px;
    }
  }
  &-bottom {
    height: 1200px;
    background: #25293a;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 100px 24px;
    position: relative;
    z-index: -1;

    &-img {
      position: absolute;
      bottom: 66px;
      width: 850px;
      height: 850px;
      z-index: 1;
    }
  }
}
