@import "../../common/constants/index.scss";

.home {
  &-top {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 64px;
    padding: 0 24px;
    min-height: 1684px;
    &-left {
      &-img {
        width: 171px;
        height: 192px;
      }
    }
    &-right {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 24px;
      &-title {
        font-weight: $font-weight-700;
        font-size: $font-size-40;
        line-height: $line-height-48;
        text-align: center;
        color: $charcoal;
      }
      &-subtitle {
        font-weight: $font-weight-400;
        font-size: $font-size-16;
        line-height: $line-height-26;
        text-align: center;
        color: $rhythm;
      }
    }
  }

  &-middle {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    flex-direction: column;
    top: 900px;
    left: 0;
    right: 0;
    margin: auto;

    @include for-size("lumia") {
      top: 1000px;
    }
  }
  &-bottom {
    height: 1248px;
    background: #25293a;
  }
}
