@import "../../common/constants/index.scss";

.home {
  &-top {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 64px;
    padding: 0 24px;
    min-height: 1684px;

    @include for-size("tablet-portrait-up") {
      flex-direction: row-reverse;
      align-items: flex-start;
      min-height: 1000px;
    }
    @include for-size("desktop-up") {
      padding: 0 165px;
      gap: 95px;
    }
    &-left {
      &-img {
        width: 171px;
        height: 192px;

        @include for-size("tablet-portrait-up") {
          width: 281px;
          height: 314px;
        }
        @include for-size("desktop-up") {
          width: 475px;
          height: 531px;
        }
      }
    }
  }

  &-middle {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    flex-direction: column;
    top: 900px;
    left: 0;
    right: 0;
    margin: auto;

    @include for-size("lumia") {
      top: 1000px;
    }
    @include for-size("tablet-portrait-up") {
      top: 698px;
    }
    @include for-size("desktop-up") {
      flex-direction: row;
      top: 928px;
    }
  }
  &-bottom {
    height: 1200px;
    background: #25293a;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 100px 24px;
    position: relative;
    z-index: -1;

    @include for-size("tablet-portrait-up") {
      height: 986px;
      align-items: center;
      padding-top: 598px;
    }

    @include for-size("desktop-up") {
      height: 603px;
      // padding-top: 336px;
      padding: 336px 165px 91px;
    }

    &-img {
      position: absolute;
      bottom: 66px;
      width: 850px;
      height: 850px;
      z-index: 1;
    }
  }
}
