@import "../../common/constants/index.scss";

.card {
  background: #ffffff;
  box-shadow: 0px 50px 50px -25px rgba(75, 92, 154, 0.247159);
  border-radius: 13px;
  width: 327px;
  height: 508px;
  padding: 40px 24px;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 56px;

  @include for-size("tablet-portrait-up") {
    width: 689px;
    height: 316px;
    flex-direction: row;
    // justify-content: flex-start;
    // align-items: center;
    padding: 48px;
    gap: 175px;
  }

  @include for-size("desktop-up") {
    width: 327px;
    height: 508px;
    flex-direction: column;
    gap: 56px;
    padding: 40px 24px;
  }

  &.blue {
    background: #5175ff;
    box-shadow: 0px 50px 50px -25px rgba(75, 92, 154, 0.247159);
  }

  .blue-img {
    position: absolute;
    height: 880px;
    width: 880px;
    top: -379px;
    left: -277px;
  }

  .card-top {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    width: 100%;

    @include for-size("tablet-portrait-up") {
      align-items: flex-start;
      justify-content: flex-start;
      flex: 1;
    }

    @include for-size("desktop-up") {
      display: flex;
    align-items: center;
    flex: .5;
    }

    &.blue {
      .top-wrapper {
        &-title {
          color: #ffffff;
        }
      }

      .bottom-wrapper {
        &-title {
          color: white;
        }
        &-description {
          color: white;
        }
      }
    }
    .top-wrapper {
      &-title {
        font-weight: 700;
        font-size: 20px;
        line-height: 28px;
        text-align: center;

        @include for-size("tablet-portrait-up") {
          text-align: start;
        }
        @include for-size("desktop-up") {
          text-align: center;
        }
      }
    }
    .bottom-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 8px;

      @include for-size("tablet-portrait-up") {
        justify-content: flex-start;
        align-items: flex-start;
        gap: 24px;
      }

      @include for-size("desktop-up") {
        align-items: center;
      justify-content: center;
      gap: 8px;
      }

      &-title {
        font-weight: 700;
        font-size: 56px;
        line-height: 64px;
        @include for-size("tablet-portrait-up") {
          text-align: start;
        }
      }
      &-description {
        @include card-labels;
        @include for-size("tablet-portrait-up") {
          text-align: start;
        }
        @include for-size("desktop-up") {
          text-align: center;
        }
      }

      .button-wrap {
        display: none;
        @include for-size("tablet-portrait-up") {
          display: block;
        }
        @include for-size("desktop-up") {
          display: none;
        }
      }
    }
  }

  .card-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 32px;
    @include for-size("tablet-portrait-up") {
      justify-content: flex-end;
      align-items: flex-end;
    }
    .top-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 16px;
      width: 100%;

      @include for-size("tablet-portrait-up") {
        justify-content: flex-start;
        align-items: flex-start;
      }
      &-feature {
        @include card-labels;
        text-align: center;
        color: #747b95;
      }
    }

    &.blue {
      .top-wrapper {
        &-feature {
          color: #ffffff;
          mix-blend-mode: normal;
          opacity: 0.75;
        }
      }
    }
  }

  @include for-size("tablet-portrait-up") {
    .button-remove {
      display: none;
    }
  }

  @include for-size("lumia") {
    width: 300px;
  }
}
