.input {
  border: none;
  padding: 16px;
  border-bottom: 1px solid rgba(116, 123, 149, 0.5);
  outline: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #333950;
  width: 100%;
  height: 45px;

  &::placeholder {
    color: #747b95;
    mix-blend-mode: normal;
    opacity: 0.5;
  }

  &.error {
    color: #f05b5b;
    border-bottom: 1px solid #f05b5b;

    &::placeholder {
      color: #f05b5b;
    }
  }
}
