@import "../../common/constants/index.scss";

.header {
  padding: 46px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 80px;
  position: relative;

  @include for-size("tablet-portrait-up") {
    padding: 72px 40px 104px 40px;
    align-items: flex-start;
  }
}

.header-pattern {
  position: absolute;
  width: 458px;
  height: 458px;
  left: -42px;
  top: -170px;
  z-index: -1;
}

.main-container {
  width: 100vw;
  overflow: hidden;
  position: relative;
}
