@import "../../common/constants/index.scss";

.sing-up {
  transition: 0.5s all ease;

  @include for-size("desktop-up") {
    display: flex;
    padding: 0 165px;
    height: 100vh;
  }
  &-top {
    padding: 0 24px 263px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 64px;
    @include for-size("tablet-portrait-up") {
      padding: 0 98px 358px 98px;
    }
    @include for-size("desktop-up") {
      padding: 0;
      width: 1000px;
      align-items: flex-start;
      justify-content: flex-start;
    }
  }

  &-footer {
    height: 320px;
    background: #25293a;
    position: relative;

    @include for-size("desktop-up") {
      width: 420px;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
    }
    .img-bg {
      position: absolute;
      width: 486.47px;
      height: 486.47px;
      left: -55px;
      top: -50px;
    }
  }
}
