@import "../../common/constants/index.scss";

.sing-up {
  transition: 0.5s all ease;
  &-top {
    padding: 0 24px 263px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 64px;
    @include for-size("tablet-portrait-up") {
      padding: 0 98px 358px 98px;
    }
  }

  &-footer {
    height: 320px;
    background: #25293a;
    position: relative;
    .img-bg {
      position: absolute;
      width: 486.47px;
      height: 486.47px;
      left: -55px;
      top: -50px;
    }
  }
}
